@media screen and (max-width: 780px) {
    /* .mag {
        margin: 0rem;
        padding: 0rem;
    } */
   /* * {
    margin: 0rem;
    padding: 0rem;
   }  */
}


@media screen and (max-width: 1200px) {

}